.App {
	text-align: center;
}

input {
	padding: 10px;
	margin: 10px;
	border-radius: 3px;
	border: 1px solid gray;
}

button {
	padding: 10px;
	margin: 10px;
	border-radius: 3px;
	border: none;
	background-color: #89216b;
	color: white;
	cursor: pointer;
}

button:hover {
	background-color: #da4453;
}
